redis
pyzmq
django
python_digest
django-tastypie
django-tastypie-swagger
psycopg2
south
sorl-thumbnail
lxml
pillow
BeautifulSoup
django-annoying
django_compressor
django-extensions
django-userena
django-bootstrap-form
