redis
django
python_digest
django-tastypie
django-tastypie-swagger
psycopg2
south
lxml
pillow
BeautifulSoup
django_compressor
django-extensions
django-userena
django-bootstrap-form
jsonfield
easy_thumbnails
tornado
tornado-redis
pytils
django-widget-tweaks
django-socialregistration
-e git+https://github.com/pythonforfacebook/facebook-sdk#egg=FacebookSDK
