{% load bootstrap %}
{% load widget_tweaks %}

<form
    method='POST'
    action='{% url 'devices_call' device.slug device_method.slug %}'
    {% if inline %}
        class="form form-inline"
    {% endif %}
>
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {{ field|attr:"required"|bootstrap }}
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <button class='btn' type="submit">Send request</button>
        </div>
    </div>
</form>
