<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
    {% include "interface/includes/header.html" %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <header>
            <div class='container'>
                <h1>
                    <a href="/">rdevic.es</a>
                    <small>alpha</small>
                </h1>
                <div class='auth'>
                    {% if request.user.is_authenticated %}
                        Hi, <a
                            href="{% url "userena_profile_detail" request.user.username %}"
                        >{{ request.user.username }}</a>!
                        You can <a href="{% url "devices_create" %}">create new device</a>,
                        <a href="{% url "devices_dashboard_create" %}">create new dashboard</a>,
                        <a href="{% url "devices_list" %}">manage exists</a> or
                        <a
                            href="{% url "userena_signout" %}"
                        >sign out</a>
                    {% else %}
                        You need to <a href='{% url 'userena_signin' %}'>sign in</a>
                        or <a href='{% url 'userena_signup' %}'>sign up</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class='container main'>
            <div class="row-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <div class='container'>
            <div class='span2'>
                <p>
                    <a href="{% url "django.contrib.flatpages.views.flatpage" "/download/" %}">
                        <b class="icon-upload"></b>
                        Download client
                    </a>
                </p>
                <p>
                    <a href="{% url 'devices_create' %}">
                        <b class="icon-plus"></b>
                        Create device
                    </a>
                </p>
                <p>
                    <a href="{% url "django.contrib.flatpages.views.flatpage" "/how-to/" %}">
                        <b class="icon-magic"></b>
                        How-to
                    </a>
                </p>
                <p>
                    <a href="{% url "django.contrib.flatpages.views.flatpage" "/faq/" %}">
                        <b class="icon-question-sign"></b>
                        FAQ
                    </a>
                </p>
            </div>
            <div class='span2'>
                <p>
                    <a target="_blank" href="https://github.com/nvbn/rdevices-client">
                        <b class="icon-github"></b>
                        Client source
                    </a>
                </p>
                <p>
                    <a target="_blank" href="https://github.com/nvbn/rdevices-server">
                        <b class="icon-github"></b>
                        Server source
                    </a>
                </p>
                <p>
                    <a target="_blank" href="#">
                        <b class="icon-facebook"></b>
                        Facebook
                    </a>
                </p>
                <p>
                    <a target="_blank" href="#">
                        <b class="icon-twitter"></b>
                        Twitter
                    </a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>