{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
    <div class='span12 well'>
        <h2>Change device: {{ device }}</h2>
        <form method='POST'>
            {% csrf_token %}
            <div class='span4 left-side'>
                <p>
                    <a href="{{ device.get_absolute_url }}">Back to device page</a> /
                    <a href="#">delete</a>
                </p>
                {{ form.is_enabled|bootstrap }}
                {{ form.name|bootstrap }}
                {{ form.description|bootstrap }}
                <div class="control-group">
                    <div class="controls">
                        <button class='btn' type="submit">Save</button>
                    </div>
                </div>
            </div>
            <div class='span4'>
                {{ form.image|bootstrap }}
            </div>
        </form>
    </div>
{% endblock %}
