{% extends "base.html" %}

{% load bootstrap %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extrahead %}
    {% include 'devices/includes/image-preview-js.html' %}
{% endblock %}

{% block content %}
    <div class='span12 well'>
        <h2>Change device: {{ device }}</h2>
        <form class='device-form' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='span4 left-side'>
                <p>
                    <a href="{{ device.get_absolute_url }}">Back to device page</a> /
                    <a href="#">delete</a>
                </p>
                {{ form.is_enabled|bootstrap }}
                {{ form.name|attr:"required"|bootstrap }}
                {{ form.description|bootstrap }}
                <div class="control-group">
                    <div class="controls">
                        <button class='btn' type="submit">Save</button>
                    </div>
                </div>
            </div>
            <div class='span4 offset1'>
                {{ form.image|bootstrap }}
                <div class='preview-holder'>
                    {% if device.image %}
                        <img src='{% static device.image.url %}' />
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
