{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
    <div class='span12 well'>
        <h2>Create new device</h2>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='span4 left-side'>
                {{ form.name|bootstrap }}
                {{ form.description|bootstrap }}
                <div class="control-group">
                    <div class="controls">
                        <button class='btn' type="submit">Create</button>
                    </div>
                </div>
            </div>
            <div class='span4'>
                {{ form.image|bootstrap }}
            </div>
        </form>
    </div>
{% endblock %}
