{% extends "base.html" %}

{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/template" id="editor-tmpl">
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a href="#editor-tab" data-toggle="tab">Edit</a>
            </li>
            <li>
                <a href="#preview-tab" data-toggle="tab">Preview</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div id="editor-tab" class='tab-pane active'>
                <div id="editor"><%= code %></div>
            </div>
            <div id="preview-tab" class='tab-pane'>
                <iframe src="{% url "devices_preview" %}" id="editor-preview"></iframe>
            </div>
        </div>
        <a href="{{ dashboard.get_absolute_url }}" class='btn'>
            Cancel
        </a>
        <button class='btn btn-danger' type="button">
            Save
        </button>
    </script>
    <script type="text/javascript">
        var dashboardId = {{ dashboard.pk|escapejs }};
    </script>
{% endblock %}

{% block content %}
    <div class='span12 well'>
        <h2>
            Dashboard: {{ dashboard }}
        </h2>
        <p>
            <strong>Description:</strong>
            {{ dashboard.description|linebreaksbr }}
        </p>
        <a href="{{ dashboard.get_absolute_url }}" class='btn'>Back to dashboard</a>
    </div>
    <div class='span12 well' id="editor-holder">
    </div>
{% endblock %}
