{% extends "base.html" %}

{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}
{% load compress %}

{% block extrahead %}
    {% compress js %}
        <script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
        <script type="text/coffeescript" src='{% static "coffee/dashboard.coffee" %}'></script>
    {% endcompress %}
    <script type="text/template" id="editor-tmpl">
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a href="#editor-tab" data-toggle="tab">Edit</a>
            </li>
            <li>
                <a href="#preview-tab" data-toggle="tab">Preview</a>
            </li>
            <li>
                <a href="#help-tab" data-toggle="tab">Help</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div id="editor-tab" class='tab-pane active'>
                <div id="editor"></div>
            </div>
            <div id="preview-tab" class='tab-pane'>
                <iframe allowtransparency="true" src="{% url "devices_preview" dashboard.slug %}" id="editor-preview"></iframe>
            </div>
            <div id="help-tab" class='tab-pane'>
                <h3>Dashboard methods</h3>
                <p><code>dashboard.ready(callback)</code> &mdash; initialise dashboard and jQuery</p>
                <p><code>dashboard.getDevice(deviceId, callback)</code> &mdash; get device and pass it to callback</p>
                <h3>Available devices</h3>
                {% for device in devices %}
                    <h4>
                        <a href='{{ device.get_absolute_url }}' target="_blank">
                            {{ device }}
                        </a>
                    </h4>
                    <p><strong>device id:</strong> {{ device.id }}</p>
                    {% if device.description %}
                        <p>
                            <strong>Description:</strong>
                            {{ device.description|linebreaksbr }}
                        </p>
                    {% endif %}
                    <hr />
                {% empty %}
                    <p>You don't have devices!</p>
                {% endfor %}
            </div>
        </div>
        <button class='save btn btn-danger' title='Dashboard saved' type="button">
            Save
        </button>
    </script>
    <script type="text/javascript">
        var dashboardId = {{ dashboard.pk|escapejs }};
        var absoluteUrl = "{{ dashboard.get_absolute_url|escapejs }}";
        var dashboard = new DashboardHelper({{ dashboard.id|escapejs }});
    </script>
{% endblock %}

{% block content %}
    <div class='span12 well'>
        <h2>
            Dashboard: {{ dashboard }}
        </h2>
        <p>
            <strong>Description:</strong>
            {{ dashboard.description|linebreaksbr }}
        </p>
        <a href="{{ dashboard.get_absolute_url }}" class='btn'>Back to dashboard</a>
    </div>
    <div class='span12 well' id="editor-holder">
    </div>
{% endblock %}
