{% extends "base.html" %}

{% load bootstrap %}
{% load static %}
{% load compress %}

{% block extrahead %}
    {% compress js %}
        <script type="text/coffeescript" src='{% static "coffee/dashboard.coffee" %}'></script>
        <script type="text/javascript" src='{% static 'js/sockjs-0.3.min.js' %}'></script>
    {% endcompress %}
    <script type="text/javascript">
        var dashboard = new DashboardHelper({{ dashboard.id|escapejs }});
        var sockBind = '{{ NOTIFICATIONS_BIND|escapejs }}';
        var userId = {{ request.user.id }};
        var staticRoot = "{{ STATIC_URL|escapejs }}";
    </script>
{% endblock %}

{% block content %}
<div class='span12 well'>
    <h2>
        Dashboard: {{ dashboard }}
        <small class='action-panel'>
            <a
                href="{% url 'devices_dashboard_change' dashboard.slug %}"
                data-toggle="tooltip"
                title='Change dashboard information'
                class='action'
            >
                <b class="icon-edit icon-1x"></b>
            </a>
            <a
                href="{% url 'devices_dashboard_delete' dashboard.slug %}"
                data-toggle="tooltip"
                title='Delete dashboard'
                class='action'
            >
                <b class="icon-trash icon-1x"></b>
            </a>
        </small>
    </h2>
    {% if dashboard.description %}
        <p>
            <strong>description:</strong>
            {{ dashboard.description|linebreaksbr }}
        </p>
    {% endif %}
    <a href="{% url 'devices_dashboard_code' dashboard.slug %}" class='btn btn-danger'>Change dashboard code</a>
</div>
<div class='span12 well'>
    {% if dashboard.code %}
        <div id="dashboard-holder">
            {{ dashboard.code|safe }}
        </div>
        <div id="dashboard-loader">
            <img src='{% static "img/loader.gif" %}'
        </div>
    {% else %}
        <h3>This dashboard is blank!</h3>
    {% endif %}
</div>
{% endblock %}
