{% extends "base.html" %}

{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    {% include 'devices/includes/image-preview-js.html' %}
{% endblock %}

{% block content %}
    <div class='span12 well'>
        <h2>Change dashboard: {{ dashboard }}</h2>
        <form class='device-form' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='span4 left-side'>
                {{ form.name|attr:"required"|bootstrap }}
                {{ form.description|bootstrap }}
            </div>
            <div class='span4 offset1'>
                {{ form.image|bootstrap }}
                <div class='preview-holder'>
                    {% if dashboard.image %}
                        <img src='{% static dashboard.image.url %}' />
                    {% endif %}
                </div>
            </div>
            <div class="control-group span12 left-side">
                <div class="controls">
                    <a class='btn' href="{{ dashboard.get_absolute_url }}">Cancel</a>
                    <button class='btn btn-danger' type="submit">Change</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
