{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
    <div class='span12 well'>
        <h2>Device: {{ device }}</h2>
        <p>
            <a href="{% url 'devices_change' device.slug %}">Edit</a> /
            <a href="{% url 'devices_delete' device.slug %}">delete</a>
        </p>
        <p>{{ device.description }}</p>
        {% if device.methods.count %}
            {% for pair in methods %}
                <h3
                    {% if active_method == pair.method %}
                        id="active"
                    {% endif %}
                >Method: {{ pair.method }}</h3>
                <div class='method-box'>
                    <ul class="nav nav-tabs">
                        <li
                            {% if active_method != pair.method %}
                                class='active'
                            {% endif %}
                        >
                            <a data-toggle="tab" href="#info-{{ pair.method.slug }}">
                                Information
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#create-{{ pair.method.slug }}">
                                Create request
                            </a>
                        </li>
                        <li
                            {% if active_method == pair.method %}
                                class='active'
                            {% endif %}
                        >
                            <a data-toggle="tab" href="#requests-{{ pair.method.slug }}">
                                Previous requests
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class='tab-pane
                            {% if active_method != pair.method %}
                                active
                            {% endif %}
                            ' id="info-{{ pair.method.slug }}"
                            <p>{{ pair.method.description }}</p>
                            {% if pair.method.spec %}
<pre class='prettyprint linenums'>
{{ pair.method.pretty_spec }}
</pre>
                            {% endif %}
                        </div>
                        <div class='tab-pane' id="create-{{ pair.method.slug }}">
                            {% include "devices/includes/call_form.html" with form=pair.form device_method=pair.method inline=True %}
                        </div>
                        <div
                            {% if active_method == pair.method %}
                                class='tab-pane active'
                            {% else %}
                                class='tab-pane'
                            {% endif %}
                                id="requests-{{ pair.method.slug }}"
                        >
                            <ul>
                                {% for call in pair.method.calls.all %}
                                    <li>
                                        <p><strong>Created:</strong> {{ call.created }}</p>
                                        <p><strong>State:</strong> {{ call.get_state }}</p>
                                        {% if call.request %}
                                            <p><strong>Request:</strong></p>
<pre class='prettyprint linenums'>
{{ call.pretty_request }}
</pre>
                                        {% endif %}
                                        {% if call.response %}
                                            <p><strong>Response:</strong></p>
<pre class='prettyprint linenums'>
{{ call.pretty_response }}
</pre>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
                <hr />
            {% endfor %}
        {% else %}
            <p>This device doesn't register methods.</p>
        {% endif %}
    </div>
{% endblock %}
