{% extends "base.html" %}

{% load bootstrap %}
{% load pytils_translit %}

{% block content %}
    <div class='span12 well'>
        <h2>
            Device: {{ device }}
            <small class='action-panel'>
                <a
                    href="{% url 'devices_change' device.slug %}"
                    data-toggle="tooltip"
                    title='Change device information'
                    class='action'
                >
                    <b class="icon-edit icon-1x"></b>
                </a>
                <a
                    href="{% url 'devices_delete' device.slug %}"
                    data-toggle="tooltip"
                    title='Delete device'
                    class='action'
                >
                    <b class="icon-trash icon-1x"></b>
                </a>
            </small>
        </h2>
        <p>
            <strong>uuid:</strong>
            <a
                href='#'
                data-toggle="tooltip"
                class='copy-it'
                title='Set it to Meta.uuid in device declaration'
            >{{ device.uuid }}</a>
            <a
                href="{% url "devices_regenerate" device.slug %}"
                data-toggle="tooltip"
                title='Generate new device uuid'
                class='action'
            >
                <b class="icon-refresh"></b>
            </a>
        </p>
        <p>
            <strong>Description:</strong>
            {{ device.description|linebreaksbr }}
        </p>
        {% if device.methods.count %}
            {% for pair in methods %}
                </div><div class='span12 well'>
                <h3
                    {% if active_method == pair.method %}
                        id="active"
                    {% endif %}
                >Method: {{ pair.method }}</h3>
                <div class='method-box'>
                    <ul class="nav nav-tabs">
                        <li
                            {% if active_method != pair.method %}
                                class='active'
                            {% endif %}
                        >
                            <a data-toggle="tab" href="#info-{{ pair.method.slug }}">
                                Information
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#create-{{ pair.method.slug }}">
                                Create request
                            </a>
                        </li>
                        <li
                            {% if active_method == pair.method %}
                                class='active'
                            {% endif %}
                        >
                            <a data-toggle="tab" href="#requests-{{ pair.method.slug }}">
                                Previous requests
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#api-{{ pair.method.slug }}">
                                API
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class='tab-pane
                            {% if active_method != pair.method %}
                                active
                            {% endif %}
                            ' id="info-{{ pair.method.slug }}"
                        >
                            {% if pair.method.descrioption %}
                                <p>
                                    <strong>Description:</strong>
                                    {{ pair.method.description|linebreaksbr }}
                                </p>
                            {% endif %}
                            {% if pair.method.spec %}
                                <p><strong>Spec:</strong></p>
<pre class='prettyprint linenums'>
{{ pair.method.pretty_spec }}
</pre>
                            {% endif %}
                        </div>
                        <div class='tab-pane' id="create-{{ pair.method.slug }}">
                            {% include "devices/includes/call_form.html" with form=pair.form device_method=pair.method inline=True %}
                        </div>
                        <div
                            {% if active_method == pair.method %}
                                class='tab-pane active'
                            {% else %}
                                class='tab-pane'
                            {% endif %}
                                id="requests-{{ pair.method.slug }}"
                        >
                            <ul>
                                {% for call in pair.method.calls.all %}
                                    <li>
                                        <p><strong>Created:</strong> {{ call.created }}</p>
                                        <p><strong>State:</strong> {{ call.get_state }}</p>
                                        {% if call.request %}
                                            <p><strong>Request:</strong></p>
<pre class='prettyprint linenums'>
{{ call.pretty_request }}
</pre>
                                        {% endif %}
                                        {% if call.response %}
                                            <p><strong>Response:</strong></p>
<pre class='prettyprint linenums'>
{{ call.pretty_response }}
</pre>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class='tab-pane' id="api-{{ pair.method.slug }}">
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                            Method
                                        </th>
                                        <th>
                                            URI
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Read device method
                                        </td>
                                        <td>
                                            GET
                                        </td>
                                        <td>
                                            <a target="_blank" href="{% url "api_dispatch_detail" "v1" "device_method" pair.method.pk %}?format=xml">
                                                {% url "api_dispatch_detail" "v1" "device_method" pair.method.pk %}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            List device method calls
                                        </td>
                                        <td>
                                            GET
                                        </td>
                                        <td>
                                            <a target="_blank" href="{% url "api_dispatch_list" "v1" "device_method_call" %}?method={{ pair.method.pk }}&format=xml">
                                                {% url "api_dispatch_list" "v1" "device_method_call" %}?method={{ pair.method.pk }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Create new device method call
                                        </td>
                                        <td>
                                            PUT, POST
                                        </td>
                                        <td>
                                            <a target="_blank" href="{% url "api_dispatch_list" "v1" "device_method_call" %}?method={{ pair.method.pk }}&format=xml">
                                                {% url "api_dispatch_list" "v1" "device_method_call" %}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Read device method call
                                        </td>
                                        <td>
                                            PUT, POST
                                        </td>
                                        <td>
                                            <a target="_blank" href="{% url "api_dispatch_list" "v1" "device_method_call" %}?method={{ pair.method.pk }}&format=xml">
                                                {% url "api_dispatch_list" "v1" "device_method_call" %}DEVICE_METHOD_CALL_ID/
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            </div><div class='span12 well'>
            <h3>How-to register methods?</h3>
            <p><strong>1)</strong> Create device declaration file, for example:</p>
<pre class='prettyprint linenums'>
from rdclient import Device, method


class Calc(Device):

    @method('int', x='int', y='int')
    def sum(self, x, y):
        return int(x) + int(y)

    @method('None', a='int')
    def do_nothing(self, a):
        pass

    class Meta:
        uuid = '{{ device.uuid }}'
</pre>
        <p><strong>2)</strong> Run rdclient, like:</p>
<pre class='prettyprint linenums'>
rdclient {{ device.name|slugify }}.py
</pre>
        {% endif %}
    </div>
{% endblock %}
