{% extends "base.html" %}

{% block content %}
    <div class='span12 well'>
        {% if not devices.count %}
            <h2>You don't have devices</h2>
        {% else %}
            <h2>Your devices</h2>
            <ul class='devices'>
                {% for device in devices %}
                    <li>
                        <a href="{{ device.get_absolute_url }}">
                            {{ device }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
