{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
    <div class='span12 well'>
        {% if not devices.count %}
            <h2>You don't have devices</h2>
            <a class='btn btn-danger' href="{% url "devices_create" %}">Create new device</a>
        {% else %}
            <h2>Your devices
                <small class='action-panel'>
                    <a
                        href="{% url 'devices_create' %}"
                        data-toggle="tooltip"
                        title='Create new device'
                        class='action'
                        >
                        <b class="icon-plus-sign icon-1x"></b>
                    </a>
                </small>
            </h2>
            <div class='devices'>
            {% for device in devices %}
                <div class='device-box'>
                    <a class='thumbnail' href="{{ device.get_absolute_url }}">
                        {% if device.image %}
                            {% if device.image.width > device.image.height %}
                                <img
                                    src='{% thumbnail device.image '230x0' %}'
                                />
                            {% else %}
                                <img
                                    src='{% thumbnail device.image '0x230' %}'
                                />
                            {% endif %}
                        {% endif %}
                        <p>
                            <strong>{{ device }}</strong>
                        </p>
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class='span12 well'>
        {% if dashboards.count %}
            <h2>
            Your dashboards
            <small class='action-panel'>
                <a
                    href="{% url 'devices_dashboard_create' %}"
                    data-toggle="tooltip"
                    title='Create new dashboard'
                    class='action'
                    >
                    <b class="icon-plus-sign icon-1x"></b>
                </a>
            </small>
        </h2>
        <div class='dashboards'>
            {% for dashboard in dashboards.all %}
                <div class='dashboard-box'>
                    <a class='thumbnail' href="{{ dashboard.get_absolute_url }}">
                        {% if dashboard.image %}
                            {% if dashboard.image.width > dashboard.image.height %}
                                <img
                                        src='{% thumbnail dashboard.image '230x0' %}'
                                        />
                            {% else %}
                                <img
                                        src='{% thumbnail dashboard.image '0x230' %}'
                                        />
                            {% endif %}
                        {% endif %}
                        <p>
                            <strong>{{ dashboard }}</strong>
                        </p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h2>You don't have dashboards</h2>
            <a class='btn btn-danger' href="{% url "devices_dashboard_create" %}">Create new dashboard</a>
        {% endif %}
    </div>
{% endblock %}
