{% load static %}
{% load compress %}

<html>
<head>
    {% include "interface/includes/header.html" %}
    {% compress js %}
        <script type="text/coffeescript" src='{% static "coffee/dashboard.coffee" %}'></script>
        <script type="text/javascript" src='{% static 'js/sockjs-0.3.min.js' %}'></script>
    {% endcompress %}
    <script type="text/javascript">
        var dashboard = new DashboardHelper({{ dashboard.id|escapejs }});
        var sockBind = '{{ NOTIFICATIONS_BIND|escapejs }}';
        var userId = {{ request.user.id }};
        var staticRoot = "{{ STATIC_URL|escapejs }}";
    </script>
</head>
<body class='preview-body'>
    {{ dashboard.preview|safe }}
</body>
</html>
