header
    background: #23323E
    color: #EEE7DA
    
    h1
        a, a:hover, a:active
            color: #EEE7DA
            text-decoration: none

    .auth
        padding-bottom: 20px

form
    .left-side
        margin-left: 0 !important
