$small_screen: 767px


@mixin reversed
    background: #23323E
    color: #EEE7DA


@mixin small-screen-padding
    @media (max-width: $small_screen)
        padding: 10px


html, body
    height: 100%


#wrap
    min-height: 100%
    height: auto
    overflow: auto


header
    @include reversed
    @include small-screen-padding
    
    h1
        a, a:hover, a:active
            color: #EEE7DA
            text-decoration: none

    .auth
        padding-bottom: 20px


.main
    margin-bottom: 260px

    .well
        margin-left: 0


footer
    @include reversed
    @include small-screen-padding

    @media (min-width: $small_screen)
        padding-top: 40px

    margin-top: -200px
    min-height:  160px

    a, a:hover, a:active
        color: #EEE7DA
        text-decoration: none

    b
        width: 15px !important
        text-align: center


.left-side
    margin-left: 0 !important


form
    #id_description
        width: 100%

.devices, .dashboards
    text-align: center

    .device-box, .dashboard-box
        padding: 20px
        text-align: center

        img
            margin-bottom: 15px


.device-form, .dashboard-form
    .preview-holder img
        max-width: 400px
        max-height: 300px


#editor
    width:  800px
    height:  400px
    font-size: 14px
    margin-bottom: 20px

#editor-preview
    width: 800px
    height: 400px
    border:  none


a.action, a.action:hover, a.action:active
    color: #23323e


.social-button:hover
    text-decoration: none


.social-button
    color: #23323e


.next-cell
    @media (min-width: $small_screen)
        margin-right: 30px !important

.next-cell:last-child
    margin-right: 0 !important


.preview-body
    background: none transparent


#index-carousel-holder
    @media (max-width: $small_screen)
        display: none


.offline
    color: #fa3c1a


.online
    color: #5bb75b


.howto-code-block
    padding-bottom: 0


.code-block
    display: none


.js.code-block
    display: block


.right-bottom
    float: right
    text-align: right
