@mixin reversed
    background: #23323E
    color: #EEE7DA


html, body
    height: 100%


#wrap
    min-height: 100%
    height: auto
    overflow: auto


header
    @include reversed
    
    h1
        a, a:hover, a:active
            color: #EEE7DA
            text-decoration: none

    .auth
        padding-bottom: 20px


.main
    margin-bottom: 260px

    .well
        margin-left: 0


footer
    @include reversed
    height:  160px
    margin-top: -200px
    padding-top: 40px

    a, a:hover, a:active
        color: #EEE7DA
        text-decoration: none

    b
        width: 15px !important
        text-align: center


form
    .left-side
        margin-left: 0 !important

    #id_description
        width: 100%

.devices
    text-align: center

    .device-box
        padding: 20px
        text-align: center

        img
            margin-bottom: 15px


.device-form
    .preview-holder img
        max-width: 400px
        max-height: 300px


.action-panel
    a, a:hover, a:active
        color: #23323e
