{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap %}
{% load facebook %}
{% load github %}
{% load twitter %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
    <div class='span12 well'>
        <h2>Login</h2>

        <form action="" method="post" class='form'>
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class='btn' type="submit">Sign in</button>
            {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
        </form>
        <p class="forgot-password"><a href="{% url 'userena_password_reset' %}"
                                      title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
        </p>
        {% facebook_button %}
        {% github_button %}
        {% twitter_button %}
    </div>
{% endblock %}
